.slide{
    
    left: 0px;
    top: 50px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
    background-color: white;
    padding: 10px;
  }
.quizStart{
    position: absolute;
    background-color: white;
    padding: 20px;
}
h1{
    background-color: white;
    vertical-align: top;
}
#countdown {
  color: white;
  font-weight: bold;
  font-size: 35px;
}
#results {
  color: white;
}

#initials {
  color: white;
}
body {
    background-image: url("bridgeofdeath.jpeg"); 
    background-color: black; 
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}